<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: nav"></div>
<div class="container">
    <div class="jumbotron">
        <h1>Albums</h1>
    </div>

        <div th:each="album : ${album}" class="col-md-4" >

            <a th:href="'/album/' + @{${album.id}}"><img th:src="${album.albumArtUrl}" th:alt="${album.albumTitle}"/></a>

                    <h3 ><a th:href="'/album/' + @{${album.id}}" th:text="${album.albumTitle}"></a></h3>



        </div>


</div>

<div th:include="modals :: modalAlbum"></div>

<span th:include="includes :: js"></span>
</body>
</html>