<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: nav"></div>
<div class="container">
    <div class="jumbotron">
        <h1>Albums</h1>
    </div>
    <div class="row">
        <div th:each="album : ${album}" class="col-md-3">
            <div class="thumbnail">
                <img th:src="${album.albumArtUrl}" th:alt="${album.albumTitle}"/>
                <div class="caption">
                    <h3 th:text="${album.albumTitle}"></h3>
                    <!--<h4><a href="#" th:text="${album.band_title}"></a></h4>-->
                    <p><a th:href="'/album/' + @{album.id}" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:include="modals :: modalAlbum"></div>

<span th:include="includes :: js"></span>
</body>
</html>