<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bell Records</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: nav"></div>
<div class="container">
    <div class="jumbotron">
        <h1>Band</h1>
    </div>
    <div class="row">
        <div th:each="band : ${band}" class="col-md-3">
            <div class="thumbnail">
                <a th:href="'/band/' + @{${band.id}}" ><img th:src="${band.bandArtUrl}" th:alt="${band.bandTitle}" /></a>
                <div class="caption">
                    <h3 ><a th:href="'/band/' + @{${band.id}}" th:text="${band.bandTitle}"></a></h3>
                    <p th:text="${band.origin}"></p>

                </div>
            </div>
        </div>

    </div>
</div>

<div th:include="modals :: modalBand"></div>


<span th:include="includes :: js"></span>
</body>
</html>