<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: nav"></div>
<div class="container">
    <div class="jumbotron">
        <h1>Band</h1>
    </div>
    <div class="row">
        <div th:each="band : ${band}" class="col-md-3">
            <div class="thumbnail">
                <img th:src="${band.bandArtUrl}" th:alt="${band.bandTitle}"/>
                <div class="caption">
                    <h3 th:text="${band.bandTitle}"></h3>
                    <p th:text="${band.origin}"></p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:include="modals :: modalBand"></div>

<span th:include="includes :: js"></span>
</body>
</html>