<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bell Records</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: nav"></div>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to Bell Records</h1>

        <div class="row">

            <form th:action="@{/searchBand}" class="col-md-6" method="post">
                <div class="input-group">
                    <input name="bandTitle" type="text" class="form-control"/>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search Band</button>
                    </div>
                </div>
            </form>
            <form th:action="@{/searchAlbum}" class="col-md-6" method="post">
                <div class="input-group">
                    <input name="albumTitle" type="text" class="form-control"/>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search Album</button>
                    </div>
                </div>
            </form>
            <div style="color: red;font-size:2em; padding-left:25px;" th:text="${error}"></div>

        </div>



    </div>
    <div class="row">
        <div class="page-header">
            <h1>Bands</h1>
        </div>
        <div class="col-md-3" th:each="band : ${band}">
            <a th:href="'/band/' + @{${band.id}}"><img th:src="${band.bandArtUrl}" th:alt="${band.bandTitle}" width="225"/></a>
            <h1 ><a th:href="'/band/' + @{${band.id}}" th:text="${band.bandTitle}"></a></h1>
            <h4 th:text="${band.origin}"></h4>
        </div>
    </div>
    <div class="row">
        <div class="page-header">
            <h1>Albums</h1>
        </div>
        <div class="col-md-3" th:each="album : ${album}">

            <a th:href="'/album/' + @{${album.id}}"><img th:src="${album.albumArtUrl}" th:alt="${album.albumTitle}" width="225"/></a>
            <h3><a th:href="'/album/' + @{${album.id}}" th:text="${album.albumTitle}" ></a></h3>
            <h4 th:text="${album.releaseDate}"></h4>

        </div>
    </div>
    <div class="page-header">
        <h1>Songs</h1>
    </div>

    <div class="" >
        <table class="table">
            <thead>
            <th>Song Title</th>
            <th >
                <span class="pull-right col-md-offset-3">Album title</span>
            </th>
            <th >
                <span class="pull-right">Genre</span>
            </th>
            </thead>
            <tr th:each="song : ${song}">

                <td>
                    <a th:href="'/album/'+ @{${song.album.id}}" th:text="${song.songTitle}"></a>

                </td>
                <td>
                    <span class="pull-right col-md-offset-3" th:text="${song.album.albumTitle}"></span>

                </td>
                <td>
                    <span class="pull-right" th:text="${song.genre}"></span>

                </td>
            </tr>
        </table>

        <hr/>
    </div>
</div>

<span th:include="includes :: js"></span>
<!--Help from Dan Dietz!!!-->
<script>
    $('#test-menu a').click(function(e){
        e.preventDefault();
        var $link = $(this);
        $('#test-button').text($link.text());
        // update hidden input also
        $('#search-type').val($link.text())
    });
</script>
</body>
</html>