<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Songs</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: nav"></div>
<div class="container">
    <div class="jumbotron">
        <h1>Songs</h1>
    </div>


    <div class="" >
        <table class="table">
            <thead>
            <th>Song Title</th>
            <th >
                <span class="pull-right col-md-offset-3">Album title</span>
            </th>
            <th >
                <span class="pull-right">Genre</span>
            </th>
            </thead>
            <tr th:each="song : ${song}">

                <td>
                    <span><img th:src="${song.album.albumArtUrl}" alt="" width="40"/></span>
                    <a th:href="'/album/'+ @{${song.album.id}}" th:text="${song.songTitle}"></a>

                </td>
                <td>
                    <span class="pull-right col-md-offset-3" th:text="${song.album.albumTitle}"></span>

                </td>
                <td>
                    <span class="pull-right" th:text="${song.genre}"></span>

                </td>
                <td>
                    <span class="pull-right" th:include="modals :: songEditButton"></span>
                    <span class="pull-right" th:include="modals :: songDeleteButton"></span>
                </td>
            </tr>
        </table>
</div>
</div>
<div th:include="modals :: modalSong"></div>
<div th:include="modals :: modalEditSong"></div>

<div th:include="modals :: modalDeleteSong"></div>

<span th:include="includes :: js"></span>
</body>
</html>